* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #111;
  color: rgb(231, 231, 231);
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1500px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.light {
  background-color: #f0f0f0;
  color: rgb(29, 29, 29);
}
.dark {
  background-color: rgb(29, 29, 29);
  color: #bbb;
}
.theme {
  transition: 1s all ease;
}